@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Italic"), url("../fonts/OpenSans-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold Italic"), url("../fonts/OpenSans-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

:root {
  --accent: #e24301;
  --sans-font: "Open Sans", sans-serif;
}

header h1 {
    background-image: url("../img/eduvpn_logo.png");
    background-repeat: no-repeat;
    color: transparent;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-size: 60%;
	margin-right: 0.5em;
}

@media (prefers-color-scheme: dark) {
    header h1 {
        background-image: url("../img/eduvpn_logo_dark.png");
        background-repeat: no-repeat;
        color: transparent;
    }
}
