<div class="footer">
    <p>&copy; 2019 {{ blogAuthor }}</p>
    <p>
        Visit us on <a href="https://github.com/eduvpn/">GitHub</a> | <a href="https://twitter.com/eduvpn_nl">Twitter</a> | <a href="ircs://chat.freenode.net:6697/#eduvpn">IRC</a>
    </p>
</div>

</body>
</html>
