{% include 'header.twig' %}

<div class="content">

    <h2>{{ pageTitle|e }}</h2>

    {{ pageContent.htmlContent|raw }}

    <p class="center"><small><a href="{{ toRoot}}index.html">Return to Index</a></small></p>
</div> <!-- /content -->

{% include 'footer.twig' %}
